{% load budgetfilters %}
<div>
    <a  {% if budget|budget_reviewer_can_be_added:user %}
          href="{% url 'budgets:add_budget_reviewer' budget.id %}" 
          class="btn btn-link"
        {% else %}
          class="btn btn-link disabled"
        {% endif %}>Add reviewer</a>
</div>
{% load customtags %}
<div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-user-friends"></i>
      Reviewers
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <tbody>
          {% for reviewer in page %}
            <tr>
              <td>
                <h6>
                  {{ reviewer.volunteer_profile|cover }}
                  <a href="{% url 'budgets:get_reviewer_details' budget.id reviewer.id %}">{{ reviewer.username }}</a>
                </h6>
                {{ reviewer.volunteer_profile.title }}
              </td>
              <td class="align-middle">
                <a href="{% url 'budgets:remove_budget_reviewer' budget.id reviewer.id %}" class="post-request">
                  Remove
                </a>
              </td>
             </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include 'paginator.html' with obj_page=page %}
    </div>
  </div>
  {% include 'generic_errormodal.html' %}
  {% include 'partials/js.html' %}