{% extends 'base.html' %}
{% block content %}
{% load customtags %}
{% load budgetfilters %}
{% render_partial 'funds.views.get_get_current_details_partial' title='Budgets' %}
<div>
  <a href="{% url 'budgets:create' %}" class="btn btn-link">Add budget</a>
</div>
  <div class="card mb-4">
  <div class="card-header">
    <i class="fas fa-sack-dollar"></i>
    Budgets
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <tbody>
        {% for budget in page %}
          <tr>
            <td class="col-3 align-middle">
              <h6>
                <a href="{% url 'budgets:get_details' budget.id %}">{{ budget.name }}</a>
              </h6>
              {{ budget.date_created }}
            </td>
            <td class="col-2 align-middle">
              <span data-bs-toggle="tooltip" data-bs-placement="top" title="Income">
                <i class="fa-solid fa-arrow-down"></i>
                <i class="fa-solid fa-dollar-sign fa-xs"></i>
                {{ budget.avaliable_income_amount|floatformat:'2g' }}
              </span>
            </td>
            <td class="col-2 align-middle">
              <span data-bs-toggle="tooltip" data-bs-placement="top" title="Expense">
                <i class="fa-solid fa-arrow-up"></i>
                <i class="fa-solid fa-dollar-sign fa-xs"></i>
                {{ budget.avaliable_expense_amount|floatformat:'2g'}}
              </span>
            </td>
            <td class="col-1 align-middle">
              {% include 'partials/td_approvement_part.html' with approvement=budget.approvement %}
            </td>
            <td class="align-middle">
              <span data-bs-toggle="tooltip" data-bs-placement="top" title="Manager">
                {% include 'partials/user_image_part.html' with user=budget.manager %}
              </span>
            </td>
            <td class="align-middle">
              <a  {% if budget|budget_is_ready_to_be_removed:user %}
                    href="{% url 'budgets:remove' budget.id %}"
                    class="post-request"
                  {% else %}
                    class="link-disabled"
                  {% endif %}>Remove</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include 'paginator.html' with obj_page=page %}
  </div>
</div>
{% include 'partials/js.html' %}
{% include 'generic_errormodal.html' %}
{% endblock %}
