{% extends 'base.html' %}
{% block content %}
  <h2 class="mt-4">{{ budget.name }}</h2>

  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">
      <a href="{% url 'funds:get_details' budget.fund_id %}">{{ budget.fund.name }}</a>
    </li>
    <li class="breadcrumb-item active">Details</li>
  </ol>
  <div class="card mb-4">
    <div class="card-body">
      <div>
        <i class="far fa-calendar-alt"></i>
        Created: {{ budget.date_created }}
      </div>
      <div>
        <i class="fas fa-user"></i>
        Manager: {{ budget.manager.username }}
      </div>
      <div>
        <i class="fas fa-sack-dollar"></i>
        Avaliable Income: {{ budget.avaliable_income_amount }}
      </div>
      <div>
        {% include 'partials/li_approvement_part.html' with approvement=budget.approvement %}
      </div>  
      <div>
        <i class="fa-regular fa-clipboard"></i>
        Notes: {{ budget.notes }}
      </div>
      <div>
        <i class="fa-solid fa-pen-to-square"></i>
        <a href="#">Edit</a>
      </div>
    </div>
  </div>

  <ul class="nav nav-pills mb-3">
    <li class="nav-item" role="presentation">
      {% if selected_tab == 'incomes' %}
        <a href="?tab=incomes" class="nav-link active">Incomes</a>
      {% else %}
        <a href="?tab=incomes" class="nav-link">Incomes</a>
      {% endif %}
    </li>
    <li class="nav-item" role="presentation">
      {% if selected_tab == 'expenses' %}
        <a href="?tab=expenses" class="nav-link active">Expenses</a>
      {% else %}
        <a href="?tab=expenses" class="nav-link">Expenses</a>
      {% endif %}
    </li>
    <li class="nav-item" role="presentation">
      {% if selected_tab == 'approvements' %}
        <a href="?tab=approvements" class="nav-link active">Approvements</a>
      {% else %}
        <a href="?tab=approvements" class="nav-link">Approvements</a>
      {% endif %}
    </li>
  </ul>
  <div>
    {% if selected_tab == 'incomes' %}
      {% include 'budget_incomes_list.html' %}
    {% elif selected_tab == 'expenses' %}
    {% include 'budget_expenses_list.html' %}
    {% elif selected_tab == 'approvements'%}
      <div>
        <a href="{% url 'budgets:approve_budget' budget.id %}" class="btn btn-link" >Add approvement</a>
      </div>
      {% include "approvements_list.html" %}
    {% endif %}
    </div>
{% endblock %}
