<div>
  {% if not budget.approvement or budget.approvement.is_rejected %}
    <a href="{% url 'budgets:add_income' budget.id %}" class="btn btn-link" >Add income</a>
  {% else %}
    <a href="{% url 'budgets:add_income' budget.id %}" class="btn btn-link disabled">Add income</a>
  {% endif %}
</div>
<div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Incomes
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Amount</th>
            <th>Created</th>
            <th>Reviewer</th>
            <th>Status</th>
            <th>Author</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for income in page %}
            <tr>
              <td>
                <a href="{% url 'budgets:get_income_details' budget.id income.id %}">{{ income.amount|floatformat:'2g' }}</a>
              </td>
              <td>{{ income.date_created }}</td>
              <td><a href="{% url 'funds:get_volunteer_details' income.reviewer.volunteer_profile.id %}">{{ income.reviewer.username }}</a>
              <td>
              {% include 'partials/td_approvement_part.html' with approvement=income.approvement %}
              </td>
              <td><a href="{% url 'funds:get_volunteer_details' income.author.volunteer_profile.id %}">{{ income.author.username }}</a>
              </td>
              <td>
                <a href="{% url 'budgets:remove_budget_income' budget.id income.id %}">Remove</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include 'paginator.html' with obj_page=page %}
    </div>
  </div>