{% extends 'base.html' %}
{% block content %}
{% load customtags %}
{% render_partial 'funds.views.get_get_current_details_partial' title='Budgets' %}
<div>
  <a href="{% url 'budgets:create' %}" class="btn btn-link">Add budget</a>
</div>
  <div class="card mb-4">
  <div class="card-header">
    <i class="fa-solid fa-money-bill-transfer"></i>
    Budgets
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Budget name</th>
          <th>Created</th>
          <th>Avaliable</th>
          <th>Spent</th>
          <th>State</th>
          <th>Manager</th>
        </tr>
      </thead>
      <tbody>
        {% for budget in page %}
          <tr>
            <td>
              <h6>
                <a href="{% url 'budgets:get_details' budget.id %}">{{ budget.name }}</a>
              </h6>
            </td>
            <td>{{ budget.date_created }}</td>
            <td>{{ budget.avaliable_income_amount|floatformat:'2g' }}</td>
            <td>0</td>
            <td>
              {% include 'partials/td_approvement_part.html' with approvement=budget.approvement %}
            </td>
            <td>
              {% include 'partials/user_image_part.html' with user=budget.manager %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include 'paginator.html' with obj_page=page %}
  </div>
</div>
{% endblock %}
