<div>
  {% if not budget.approvement or budget.approvement.is_rejected %}
    <a href="{% url 'budgets:add_income' budget.id %}" class="btn btn-link" >Add income</a>
  {% else %}
    <a href="{% url 'budgets:add_income' budget.id %}" class="btn btn-link disabled">Add income</a>
  {% endif %}
</div>
<div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-sack-dollar"></i>
      Incomes
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <tbody>
          {% for income in page %}
            <tr>
              <td class="col-2 align-middle">
                <h6>
                  <i class="fa-solid fa-dollar-sign fa-sm"></i>
                  <a href="{% url 'budgets:get_income_details' budget.id income.id %}">{{ income.amount|floatformat:'2g' }}</a>
                </h6>
                {{ income.date_created }}
              </td>
              <td class="col-1 align-middle text-center"> 
                {% include 'partials/td_approvement_part.html' with approvement=income.approvement %}
              </td>
              <td class="align-middle">
                <span data-bs-toggle="tooltip" data-bs-placement="top" title="Reviewer">
                  {% include 'partials/user_image_part.html' with user=income.reviewer %}
                </span>
              </td>
              <td class="align-middle"> 
                {{ income.notes }}
              </td>
              <td class="align-middle">
                {% if  income.approvement.is_rejected == False %}
                  <a href="#" class="link-disabled">Remove</a>
                {% else  %}
                  <a href="{% url 'budgets:remove_budget_income' budget.id income.id %}" class="post-request">Remove</a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include 'paginator.html' with obj_page=page %}
    </div>
  </div>
  {% include 'generic_errormodal.html' %}
  {% include 'partials/js.html' %}