{% extends 'base.html' %}
{% block content %}
{% load budgetfilters %}
<h2 class="mt-4">{{ budget.name }}</h2>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item">
    <a href="{% url 'funds:get_details' budget.fund_id %}">{{ budget.fund.name }}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'budgets:get_list'%}">Budgets</a>
  </li>
  <li class="breadcrumb-item active">Budget Details</li>
</ol>
<div class="card mb-4">
  <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="bg-light text-dark">
            <i class="fa-regular fa-clipboard"></i>
            <strong>Description</strong>: {{ budget.notes }}
          </div>
        </div>
        <div class="col">
          <div class="bg-light text-dark">
            <div>
              <strong>Created</strong>: {{ budget.date_created }}
            </div>
            <div>
              <strong>Author</strong>: <a href="{% url 'funds:get_volunteer_details' budget.author.volunteer_profile.id %}">{{ budget.author.username }}</a>
            </div>
            <div>
              <strong>Manager</strong>: <a href="{% url 'funds:get_volunteer_details' budget.author.volunteer_profile.id %}">{{ budget.manager.username }}</a>
            </div>
            <div>
              <strong>Total income amount</strong>: {{ budget.total_approved_amount|floatformat:'2g' }}
            </div>
            <div>
              <strong>Total expense amount</strong>: {{ budget.total_approved_expenses_amount|floatformat:'2g' }}
            </div>
            <div>
            </div>
            <div>
              {% if budget.payout_excess_contribution %}
                <strong>Paid excess</strong>: <a href="{% url 'funds:get_contribution_details' budget.payout_excess_contribution.id%}">{{budget.payout_excess_contribution.amount|floatformat:'2g'}}</a>
              {% elif not budget|budget_is_approved %}
                <strong>Avaliable amount</strong>: {{ budget.avaliable_income_amount|floatformat:'2g' }}
              {% else %}
                <strong>Avaliable excess</strong>: {{ budget.avaliable_income_amount|floatformat:'2g' }}
              {% endif %}
            </div>
            <div>
              {% include 'partials/li_approvement_part.html' with approvement=budget.approvement %}
            </div>  
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="row">
          <div class="col-1">
            <i class="fa-solid fa-pen-to-square"></i>
            <a {% if budget|budget_can_be_edited:user %}
                  href="{% url 'budgets:edit_details' budget.id %}"
                {% else %}
                  class="link-disabled" href=""
                {% endif %}>Edit</a>
          </div>
          <div class="col">
            <i class="fa-solid fa-arrow-up"></i>
            <a {% if budget|budget_back_contribution_canbe_added:user %}
                 href="{% url 'budgets:add_budget_excess_contribution' budget.id %}"
               {% else %}
                  class="link-disabled"
               {% endif %}>Payout</a>
          </div>
        </div>
      </div>
    </div>
</div>
<ul class="nav nav-pills mb-3">
  {% for tab in tabs %}
  <li class="nav-item" role="presentation">
    {% if selected_tab == tab %}
      <a href="?tab={{ tab }}" class="nav-link active">{{ tab|capfirst }}
      </a>
    {% else %}
      <a href="?tab={{ tab }}" class="nav-link">{{ tab|capfirst }}</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
<div>
  {% for tab in tabs %}
  {% if selected_tab == tab %}
    {% include 'partials/budget_'|add:tab|add:'_list.html' %}
  {% endif %}
  {% endfor %}
</div>
{% endblock %}
