<div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Approvements
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Created</th>
            <th>Notes</th>
            <th>Status</th>
            <th>Author</th>
          </tr>
        </thead>
        <tbody>
          {% for approvement in page %}
            <tr>
              <td>{{ approvement.date_created }}</td>
              <td>{{ approvement.notes }}</td>
              <td>
                {% if approvement.is_rejected %}
                  <span class="badge bg-danger">rejected</span>
                {% else %}
                  <span class="badge bg-success">approved</span>
                {% endif %}
               </td>
              <td><a href="{% url 'funds:get_volunteer_details' approvement.author.volunteer_profile.id %}">{{ approvement.author.username }}</a>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include 'paginator.html' with obj_page=page %}
    </div>
  </div>