<html lang="en">
  {% load static %}
  {% load customtags %}
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>
      Charity board
      {% if title %} 
        - {{ title }}
      {% endif %}
    </title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
  </head>
  <body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
      <!-- Navbar Brand -->
      <a class="navbar-brand ps-3" href="index.html">Start Bootstrap</a>
      <!-- Sidebar Toggle -->
      <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
      <!-- Navbar Search -->
      <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
      </form>
      <!-- Navbar -->
      <!--Tasks-->
      <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-2">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-list-check"></i>
            {% if user.is_authenticated %}
              <span class="badge bg-danger rounded-circle">{{ user.assigned_active_tasks.count }}</span>
            {% endif %}
          </a>
          {% if user.is_authenticated %}
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            {{ user.assigned_active_tasks |active_tasks_list}}
          </ul>
          {% endif %}
        </li>
      </ul>
      <!--Notifications-->
      <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-2">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-bell"></i>
            {% if user.is_authenticated %}
              <span class="badge bg-danger rounded-circle">{{ user.not_viewed_notifications.count }}</span>
            {% endif %}
          </a>
          {% if user.is_authenticated %}
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            {{ user.not_viewed_notifications |notifications_list}}
          </ul>
          {% endif %}
        </li>
      </ul>
      <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ user.volunteer_profile|cover:25 }}</a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li>
              <a href="{%url 'funds:get_volunteer_details' user.volunteer_profile.id %}" class="dropdown-item">
                <strong>{{ user.username }}</strong>
              </a>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="#!">Settings</a>
            </li>
            <li>
              <a class="dropdown-item" href="#!">Activity Log</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="#!">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <div id="layoutSidenav">
      <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
          <div class="sb-sidenav-menu">
            <div class="nav">
              <div class="sb-sidenav-menu-heading">General</div>
              <a class="nav-link" href="{% url 'funds:get_current_details' %}">
                <div class="sb-nav-link-icon">
                  <i class="fa-solid fa-house"></i>
                </div>Home
              </a>
              <a class="nav-link" href="{% url 'wards:get_list' %}">
                <div class="sb-nav-link-icon">
                </div>Adoptees
              </a>
              <a class="nav-link" href="{% url 'budgets:get_list' %}">
                <div class="sb-nav-link-icon">
                </div>Budgets
              </a>
              <a class="nav-link" href="{% url 'processes:get_list' %}">
                <div class="sb-nav-link-icon">
                </div>Processes
              </a>
              <a class="nav-link" href="{% url 'projects:get_list' %}">
                <div class="sb-nav-link-icon">
                </div>Projects
              </a>
            </div>
          </div>
          <div class="sb-sidenav-footer">
            <div class="small">Logged in at:</div>{{ user.last_login }}
          </div>
        </nav>
      </div>
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid px-4">
            {% block content %}

            {% endblock %}
          </div>
          {% include 'generic_errormodal.html' %}
        </main>
        <footer class="py-4 bg-light mt-auto">
          <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
              <div class="text-muted">
                Copyright &copy; Charity {% now 'Y' %}
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script>
      window.addEventListener('DOMContentLoaded', event => {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        console.log(tooltipTriggerList);
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl)
        })
      });
    </script>
  </body>
</html>
