{% load customtags %}
<div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Reviewers
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Reviewer</th>
          </tr>
        </thead>
        <tbody>
          {% for reviewer in page %}
            <tr>
              <td>
                {{ reviewer.volunteer_profile|cover }}
                <a href="{% url 'funds:get_volunteer_details' reviewer.volunteer_profile.id %}">{{ reviewer.username }}</a>
             </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include 'paginator.html' with obj_page=page %}
    </div>
  </div>