{% load filefilters %}
{% load customtags %}
{% get_context_values 'content_type' 'target' as context %}
<div>
  <a {% if context|file_is_ready_to_be_added %}
       href="{% url 'files:attach_file' content_type.model target.id %}" 
       class="btn btn-link"
     {% else %}
       class="btn btn-link disabled"
     {% endif %}>Upload file</a>
</div>
<div class="card mb-4">
  <div class="card-header">
    {{ items_count }} <i class="fa-regular fa-file"></i>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <tbody>
        {% for file in page %}
          <tr>
            <td class="col-3 align-middle">
              <h6>
                <img src="{{file.thumb.url}}" class="rounded"/>
                <i class="fa-solid fa-paperclip"></i>
                <a href="{% url 'files:get_file' file.id %}">
                  {{ file.name }} </a>
              </h6>
              {{ file.date_created }}
            </td>
            <td class="align-middle">
              <div class="form-check form-switch">
                <label class="form-check-label">Public</label>
                <input type="checkbox"
                {% if  file.is_public%}
                    checked
                {% endif %} class="form-check-input" />
              </div>
            </td>
            <td class="align-middle">
              <span class="badge bg-primary">
                {{ file.type }}
              </span>
            </td>
            <td class="align-middle">
              {{ file.size }} KB
            </td>
            <td class="align-middle">
              {{ file.notes }}
            </td>
            <td class="align-middle">
              <span data-bs-toggle="tooltip" data-bs-placement="top" title="Author">
                {% include 'partials/user_image_part.html' with user=file.author %}
              </span>
            </td>
            <td class="align-middle">
              <a {% if file|file_is_ready_to_be_removed:context %}
                   href="{% url 'files:remove_file' file.id content_type.model target.id %}" 
                   class="post-request"
                 {% else %}
                   class="link-disabled"
                 {% endif %}>
                 <i class="fa-regular fa-trash-can"></i>
                </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include 'paginator.html' with obj_page=page %}
  </div>
</div>
{% include 'partials/js.html' %}
{% include 'generic_errormodal.html' %}