{% load filefilters %}
{% load customtags %}
<div>
  <a href="{% url 'files:attach_file' content_type.model target.id %}" class="btn btn-link">Upload file</a>
</div>
<div class="card mb-4">
  <div class="card-header">
    {{ items_count }} <i class="fa-regular fa-file"></i>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <tbody>
        {% for file in page %}
          <tr>
            <td class="col-3 align-middle">
              <h6>
                <i class="fa-solid fa-paperclip"></i>
                <a href="{% url 'files:get_file' file.id %}">
                  {{ file.name }} </a>
              </h6>
              {{ file.date_created }}
            </td>
            <td class="align-middle">
              <span class="badge bg-primary">
                {{ file.type }}
              </span>
            </td>
            <td class="align-middle">
              {{ file.size }} KB
            </td>
            <td class="align-middle">
              {{ file.notes }}
            </td>
            <td class="align-middle">
              <span data-bs-toggle="tooltip" data-bs-placement="top" title="Author">
                {% include 'partials/user_image_part.html' with user=file.author %}
              </span>
            </td>
            {% get_context_values 'content_type' 'target' as context %}
            <td class="align-middle">
              <a {% if file|file_is_ready_to_be_removed:context %}
                   href="{% url 'files:remove_file' file.id content_type.model target.id %}" 
                   class="post-request"
                 {% else %}
                   class="link-disabled"
                 {% endif %}>Remove</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include 'paginator.html' with obj_page=page %}
  </div>
</div>
{% include 'partials/js.html' %}
{% include 'generic_errormodal.html' %}