{% load customtags %}
<div>
    <a href="{% url 'funds:add_contributor' %}" class="btn btn-link">Add contributor</a>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Contributors
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <tbody>
          {% for contributor in page %}
            <tr>
              <td class="col-3">
                <h6>
                  {{ contributor|thumbnail:50 }}
                  <a href="{% url 'funds:get_contributor_details' contributor.id %}">
                    {{ contributor.name }}</a>
                </h6>
                {% if contributor.is_company %}
                <span class="badge bg-primary">business</span>
                {% else %}
                  <span class="badge bg-primary">person</span>
                {% endif %}
              </td>
              <td class="align-middle">
                <ul>
                  {% if contributor.email %}
                  <li class="list-group-item">
                    <i class="fa-regular fa-envelope"></i>
                    <a href="mailto:{{ contributor.email }}">{{ contributor.email }}</a>
                  </li>
                {% endif %}
                {% if contributor.mobile_phone %}
                <li class="list-group-item">
                  <i class="fa-solid fa-phone"></i>
                  {{ contributor.mobile_phone|phone_number }}
                </li>
                {% endif %}
                {% if contributor.website %}
                <li class="list-group-item">
                  <i class="fa-solid fa-link"></i>
                   <a href="{{ contributor.website }}">{{ contributor.website }}</a>
                </li>
                {% endif %}
                </ul>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include 'paginator.html' with obj_page=page %}
    </div>
  </div>