<div>
    <a href="#" class="btn btn-link" >Add contribution</a>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Contributions
    </div>
    <div class="card-body">
        <div class="col-12 col-md-3 col-xl-3">
            <form class="bd-search d-flex align-items-center">
              <input type="search" class="form-control" id="search-input" placeholder="Search..." aria-label="Search for..." autocomplete="off" />
            </form>
          </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Contributor</th>
            <th>Contribution date</th>
            <th>Amount</th>
            <th>Author</th>
          </tr>
        </thead>
        <tbody>
          {% for contribution in page %}
            <tr>
              <td>
                <a href="#">{{ contribution.contributor.id }}</a>
              </td>
              <td>{{ contribution.contribution_date }}</td>
              <td>{{ contribution.amount }}</td>
              <td>{{ contribution.author.username }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include 'paginator.html' with obj_page=page %}
    </div>
  </div>