<div>
    <a href="{% url 'budgets:create' %}" class="btn btn-link">Add budget</a>
  </div>
    <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Budgets
    </div>
    <div class="card-body">
        <div class="col-12 col-md-3 col-xl-3">
            <form class="bd-search d-flex align-items-center">
              <input type="search" class="form-control" id="search-input" placeholder="Search..." aria-label="Search for..." autocomplete="off" />
            </form>
          </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Budget name</th>
            <th>Created</th>
            <th>Author</th>
            <th>Period</th>
            <th>Manager</th>
            <th>Avaliable</th>
            <th>Spent</th>
            <th>State</th>
          </tr>
        </thead>
        <tbody>
          {% for budget in page %}
            <tr>
              <td>
                <a href="{% url 'budgets:get_details' budget.id %}">{{ budget.name }}</a>
              </td>
              <td>{{ budget.date_created }}</td>
              <td>{{ budget.author.username }}</td>
              <td>{{ budget.start_period_date }} - {{ budget.end_period_date }}</td>
              <td>{{ budget.manager.username }}</td>
              <td>{{ budget.avaliable_income_amount }}</td>
              <td>0</td>
              <td>{{ budget.current_state }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include 'paginator.html' with obj_page=page %}
    </div>
  </div>