{% extends 'base.html' %}
{% block content %}
  <h2 class="mt-4">{{ fund.name }}</h2>

  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">
      <a href="{% url 'funds:get_list' %}">Funds list</a>
    </li>
    <li class="breadcrumb-item active">Details</li>
  </ol>
  <div class="card mb-4">
    <div class="card-body">
      <div>
        <i class="far fa-calendar-alt"></i>
        Created: {{ fund.date_created }}
      </div>
      <div>
        <i class="fas fa-sack-dollar"></i>
        Budget: {{ fund.available_budget_amount }}
      </div>
      <div>
        <i class="fas fa-user-friends"></i>
        Volunteers: {{ fund.total_volunteers_count }}
      </div>
    </div>
  </div>
  <ul class="nav nav-pills mb-3">
    <li class="nav-item" role="presentation">
      {% if selected_tab == 'budgets' %}
        <a href="?tab=budgets" class="nav-link active">Budgets</a>
      {% else %}
        <a href="?tab=budgets" class="nav-link">Budgets</a>
      {% endif %}
    </li>
    <li class="nav-item" role="presentation">
      {% if selected_tab == 'contributions' %}
        <a href="?tab=contributions" class="nav-link active">Contributions</a>
      {% else %}
        <a href="?tab=contributions" class="nav-link">Contributions</a>
      {% endif %}
    </li>
    <li class="nav-item" role="presentation">
      {% if selected_tab == 'processes' %}
        <a href="?tab=processes" class="nav-link active">Processes</a>
      {% else %}
        <a href="?tab=processes" class="nav-link">Processes</a>
      {% endif %}
    </li>
    <li class="nav-item" role="presentation">
      {% if selected_tab == 'projects' %}
        <a href="?tab=projects" class="nav-link active">Projects</a>
      {% else %}
        <a href="?tab=projects" class="nav-link">Projects</a>
      {% endif %}
    </li>
    <li class="nav-item" role="presentation">
      {% if selected_tab == 'volunteers' %}
        <a href="?tab=volunteers" class="nav-link active">Volunteers</a>
      {% else %}
        <a href="?tab=volunteers" class="nav-link">Volunteers</a>
      {% endif %}
    </li>
  </ul>
  <div>
    {% if selected_tab == 'projects' %}
      {% include 'fund_projects_list.html' %}
    {% elif selected_tab == 'budgets' %}
      {% include 'fund_budgets_list.html' %}
    {% elif selected_tab == 'processes' %}
      {% include 'fund_processes_list.html' %}
    {% elif selected_tab == 'volunteers' %}
      {% include 'fund_volunteers_list.html' %}
    {% elif selected_tab == 'contributions' %}
      {% include 'fund_contributions_list.html' %}
    {% endif %}
  </div>
{% endblock %}
