{% load customtags %}
<div>
    <a href="{% url 'funds:add_contribution' %}" class="btn btn-link" >Add contribution</a>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <i class="fa-solid fa-money-bills"></i>
      Contributions
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <tbody>
          {% for contribution in page %}
            <tr>
              <td class="col-3">
                <h6>
                  {{ contribution.contributor|thumbnail:50 }}
                  <a href="{% url 'funds:get_contribution_details' contribution.id %}">{{ contribution.contributor.name }}</a>
                </h6>
                {{ contribution.contribution_date }}
              </td>
              <td class="align-middle">
                <i class="fa-solid fa-dollar-sign fa-xs"></i>
                {{ contribution.amount|floatformat:'2g' }}
              </td>
              <td class="align-middle">{{ contribution.notes }}</td>
              <td class="align-middle text-center">
                <a href="{% url 'funds:get_volunteer_details' contribution.author.volunteer_profile.id %}">
                  {{ contribution.author.username }}
                </a>
              </td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include 'paginator.html' with obj_page=page %}
    </div>
  </div>