{% extends 'base.html' %}
{% block content %}
  <h2 class="mt-4">{{ volunteer.user.username }}</h2>

  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">
      <a href="{% url 'funds:get_details' volunteer.fund_id %}?tab=volunteers">{{ volunteer.fund.name }}</a>
    </li>
    <li class="breadcrumb-item active">Volunteer Details</li>
  </ol>
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <div class="bg-light text-dark">
            <div class="card">
              {% if volunteer.cover %}
                <img src="{{ volunteer.cover.url }}" alt="Upload cover" />
              {% else %}
                <img src="..." alt="Upload cover" />
              {% endif %}
              <form method="POST" action="{% url 'funds:add_volunteer_cover' volunteer.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <label class="btn btn-link">
                  <i class="fa-solid fa-cloud-arrow-up"></i>
                  <input class="form-control" type="file" accept=".png, .jepg, .jpg" name="cover" id="cover" onchange="javascrupt:this.form.submit()" style="display:none;" />
                </label>
              </form>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="bg-light text-dark">
            <div>
              <strong>Created</strong>: {{ volunteer.date_created }}
            </div>
            <div>
              <strong>User name</strong>: {{ volunteer.user.username }}
            </div>
            <div>
              <strong>Full name</strong>: {{ volunteer.user.first_name }} {{ volunteer.user.last_name }}
            </div>
            <div>
              <strong>Title</strong>: {{ volunteer.title }}
            </div>
            <div>
              <strong>Mobile phone</strong>: {{ volunteer.mobile_phone }}
            </div>
            <div>
              <strong>Email</strong>: {{ volunteer.user.email }}
            </div>
            <div>
              <strong>Last login</strong>: {{ volunteer.user.last_login }}
            </div>
            <div>
              <strong>State</strong>: 
              {% if volunteer.user.is_active %}
                <span class="badge bg-primary" >active</span>
              {% else %}
              <span>inactive</span>
              {% endif%}
            </div>
            <div>
              <i class="fa-solid fa-pen-to-square"></i>
              <a href="{% url 'funds:edit_volunteer_profile' volunteer.id %}">Edit</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
