{% extends 'base.html' %}
{% block content %}
  <h2 class="mt-4">{{ fund.name }}</h2>

  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">
      <a href="{% url 'funds:funds_list' %}">Funds list</a>
    </li>
    <li class="breadcrumb-item active">Details</li>
  </ol>
  <div class="card mb-4">
    <div class="card-body">
       <div>
        <i class="far fa-calendar-alt"></i>
        {{ fund.date_created }}
      </div>
      <div>
        <i class="fas fa-sack-dollar"></i>
          {{ fund.available_budget_amount }}
      </div>
      <div>
        <i class="fas fa-user-friends"></i>
        {{ fund.total_volunteers_count }}
      </div>
    </div>
  </div>
  <br />
  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Active projects
    </div>
    <div class="card-body">
      <div class="col-12 col-md-3 col-xl-3">
        <form class="bd-search d-flex align-items-center">
          <input type="search" class="form-control" id="search-input" placeholder="Search..." aria-label="Search for..." autocomplete="off" />
        </form>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Project name</th>
            <th>Created</th>
            <th>Leader</th>
            <th>Active tasks</th>
            <th>Budget</th>
          </tr>
        </thead>
        <tbody>
          {% for project in active_projects_page %}
            <tr>
              <td>
                <a href="{% url 'projects:project_details' project.id %}">{{ project.name }}</a>
              </td>
              <td>{{ project.date_created }}</td>
              <td>
                <a href="#">{{ project.leader.username }}</a>
              </td>
              <td>{{ project.active_tasks_count }}</td>
              <td>{{ project.approved_budget }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
       {% include 'paginator.html' with obj_page=active_projects_page %}
    </div>
  </div>
{% endblock %}
