<div>
    <a href="{% url 'funds:add_contributor' %}" class="btn btn-link">Add contributor</a>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Contributors
    </div>
    <div class="card-body">
        <div class="col-12 col-md-3 col-xl-3">
            <form class="bd-search d-flex align-items-center">
              <input type="search" class="form-control" id="search-input" placeholder="Search..." aria-label="Search for..." autocomplete="off" />
            </form>
          </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Notes</th>
            <th>Date created</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          {% for contributor in page %}
            <tr>
              <td>
                <a href="#">{{ contributor.name }}</a>
              </td>
              <td>{{ contributor.notes }}</td>
              <td>{{ contributor.date_created }}</td>
              <td>
                {% if contributor.is_company %}
                  <span class="badge bg-primary">company</span>
                {% else %}
                  <span class="badge bg-primary">person</span>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include 'paginator.html' with obj_page=page %}
    </div>
  </div>