{% extends 'base.html' %}
{% block content %}
{% load customtags %}
<h2 class="mt-4">Contribution {{ contribution.date_created }}</h2>
  <h2 class="mt-4">{{ process.name }}</h2>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
      <a href="{% url 'funds:get_current_details'%}?tab=contributions"> {{ user.fund.name }} </a>
    </li>
    <li class="breadcrumb-item active">Contribution Details</li>
  </ol>
  <div class="card mb-4">
    <div class="card-body">
        <div class="row">
            <div class="col">
              <div class="bg-light text-dark">
                 <i class="fa-regular fa-clipboard"></i>
                 <strong>Description</strong>: {{ contribution.notes }}
              </div>
            </div>
            <div class="col">
              <div class="bg-light text-dark">
                <div>
                  {{ contribution.contributor|thumbnail:50 }}
                  <a href="{% url 'funds:get_contributor_details' contribution.contributor_id %}"> {{ contribution.contributor.name }} </a>
                </div>
                <div>
                  <strong>Contribution date</strong>: {{ contribution.contribution_date }}
                </div>
                <div>
                  <strong>Created</strong>: {{ contribution.date_created}}
                </div>
                <div>
                  <strong>Author</strong>: <a href="{% url 'funds:get_volunteer_details' contribution.author.volunteer_profile.id %}">{{ contribution.author.username }}</a>
                </div>
                <div>
                  <strong>Amount</strong>: {{ contribution.amount|floatformat:'2g' }}
                </div>
                <div>
                  <strong>Available Amount</strong>: {{ contribution.available_amount|floatformat:'2g'}}
                </div>
              </div>  
            </div>
        </div>
      </div>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-sack-dollar"></i>
      Budgets
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <tbody>
          {% for budget in page %}
            <tr>
              <td class="col-3">
                <h6>
                  <a href="{% url 'budgets:get_details' budget.budget.id %}">{{ budget.budget.name }}</a>
                </h6>
                {{ budget.budget.date_created }}
              </td>
              <td class="col-2 align-middle">
                <i class="fa-solid fa-dollar-sign fa-xs"></i>
                {{ budget.budget_amount|floatformat:'2g' }}
              </td>
              <td class="align-middle">
                {% include 'partials/td_approvement_part.html' with approvement=budget.budget.approvement %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include 'paginator.html' with obj_page=page %}
    </div>
  </div>
{% endblock %}