{% extends 'base.html' %}
{% block content %}
  <h2 class="mt-4">{{ volunteer.user.username }}</h2>

  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">
      <a href="{% url 'funds:get_details' volunteer.fund_id %}?tab=volunteers">{{ volunteer.fund.name }}</a>
    </li>
    <li class="breadcrumb-item active">Details</li>
  </ol>
  <div class="row">
    <div class="col">
     <div class="card">
      <img src="{{ volunteer.cover.url }}" class="img-thumbnail" alt="Upload cover"/>
      <form method="POST" action="{% url 'funds:add_volunteer_cover' volunteer.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <label class="btn btn-link">
           <i class="fa-solid fa-arrow-up-from-bracket"></i>
         <input class="form-control" type="file" accept=".png, .jepg, .jpg" name="cover" id="cover" onchange="javascrupt:this.form.submit()" style="display:none;" />
        </label>
       </form>
    </div>
    </div>
    <div class="col-10">
      <div class="card">
        <div class="card-body">
          <div>
            <i class="far fa-calendar-alt"></i>
            Created: {{ volunteer.date_created }}
          </div>
          <div>
            <i class="fa-solid fa-user"></i>
            User name: {{ volunteer.user.username }}
          </div>
          <div>
            <i class="fa-solid fa-id-card"></i>
            Full name: {{ volunteer.user.first_name }} {{ volunteer.user.last_name }}
          </div>
          <div>
            <i class="fa-solid fa-user-tie"></i>
            Title: {{ volunteer.title }}
          </div>
          <div>
            <i class="fa-solid fa-mobile-screen-button"></i>
            Mobile phone: {{ volunteer.mobile_phone }}
          </div>
          <div>
            <i class="fa-solid fa-envelope"></i>
            Email: {{ volunteer.user.email }}
          </div>
          <div>
            <i class="fa-solid fa-pen-to-square"></i>
            <a href="{% url 'funds:edit_volunteer_profile' volunteer.id %}">Edit</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
