{% load customtags %}
<div>
    <a href="{% url 'funds:add_volunteer' %}" class="btn btn-link" >Add volunteer</a>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-user-friends"></i>
      Volunteers
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <tbody>
          {% for volunteer in page %}
            <tr>
              <td class="col-3">
                <h6>
                  {{ volunteer|cover }}
                  <a href="{% url 'funds:get_volunteer_details' volunteer.id %}">{{ volunteer.user.username }}</a>
                </h6>
                  {{volunteer.title}}
              </td>
              <td class="align-middle">
                <ul>
                  {% if volunteer.user.email %}
                  <li class="list-group-item">
                    <i class="fa-regular fa-envelope"></i>
                    <a href="mailto:{{ volunteer.user.email }}">{{ volunteer.user.email }}</a>
                  </li>
                {% endif %}
                {% if volunteer.mobile_phone %}
                <li class="list-group-item">
                  <i class="fa-solid fa-phone"></i>
                  {{ volunteer.mobile_phone|phone_number }}
                </li>
                {% endif %}
                </ul>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
       {% include 'paginator.html' with obj_page=page %}
    </div>
  </div>