{% extends 'base.html' %}
{% block content %}
<h2 class="mt-4">Contribution {{ contribution.date_created }}</h2>

  <h2 class="mt-4">{{ process.name }}</h2>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
      <a href="{% url 'funds:get_current_details'%}?tab=contributions"> {{ user.volunteer_profile.fund.name }} </a>
    </li>
    <li class="breadcrumb-item active">Contribution Details</li>
  </ol>
  <div class="card mb-4">
    <div class="card-body">
      <div>
        <i class="far fa-calendar-alt"></i>
        Created: {{ contribution.date_created }}
      </div>
      <div>
        <i class="fas fa-user"></i>
        Author: <a href="{% url 'funds:get_volunteer_details' contribution.author.volunteer_profile.id %}">{{ contribution.author.username }}</a>
      </div>
      <div>
        <i class="far fa-calendar-alt"></i>
        Contribution date: {{ contribution.contribution_date }}
      </div>
      <div>
        <i class="fa-solid fa-hand-holding-dollar"></i>
        From: <a href="{% url 'funds:get_contributor_details' contribution.contributor.id %}">{{ contribution.contributor.name }}</a>
      </div>
      <div>
        <i class="fas fa-sack-dollar"></i>
        Amount: {{ contribution.amount|floatformat:'2g' }}
      </div>
      <div>
        <i class="fa-regular fa-clipboard"></i>
        Notes: {{ contribution.notes }}
      </div>
    </div>
  </div>
  
  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Budgets
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Budget</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for budget in page %}
            <tr>
              <td>
                <a href="{% url 'budgets:get_details' budget.budget__id %}">{{ budget.budget__name }}</a>
              </td>
              <td>{{ budget.budget_amount|floatformat:'2g' }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include 'paginator.html' with obj_page=page %}
    </div>
  </div>
{% endblock %}