<div>
    <a href="{% url 'processes:create' %}" class="btn btn-link" >Add process</a>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Processes
    </div>
    <div class="card-body">
        <div class="col-12 col-md-3 col-xl-3">
            <form class="bd-search d-flex align-items-center">
              <input type="search" class="form-control" id="search-input" placeholder="Search..." aria-label="Search for..." autocomplete="off" />
            </form>
          </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Process name</th>
            <th>Created</th>
            <th>Status</th>
            <th>States</th>
            <th>Projects usage</th>
          </tr>
        </thead>
        <tbody>
          {% for process in page %}
            <tr>
              <td>
                <a href="{% url 'processes:get_details' process.id %}">{{ process.name }}</a>
              </td>
              <td>{{ process.date_created }}</td>
              <td>
                {% if not process.is_inactive %}
                  <span class="badge bg-primary">active</span>
                {% else %}
                  <span class="badge bg-secondary">inactive</span>
                {% endif %}
              </td>
              <td><span class="badge bg-primary rounded-circle">{{ process.states_count }}</span></td>
              <td><span class="badge bg-primary rounded-circle">{{ process.active_project_count }}</span></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include 'paginator.html' with obj_page=page %}
    </div>
  </div>