<div class="col">
  <div class="{{ css_class }}" style="max-width: 18rem;">
    <div class="card-header">Step #{{ order_position }}</div>
    <div class="card-body">
      <h5 class="card-title">{{ name }}</h5>
      <p class="card-text">
        {% if current_state %}
          <a href="{% url 'tasks:get_state_details' task_id  current_state.id%}">
            {{ notes }}
          </a>
        {% else %}
          {{ notes }}
        {% endif %}
      </p>
      <p class="card-text">
      {% for task_state in task_states %}
         {% include 'partials/td_approvement_part.html' with approvement=task_state.approvement %}
      {% endfor %}
      </p>
      <a href="#" class="{{btn_class}}">Start</a>
    </div>
  </div>
</div>
