<div class="col">
  <div class="{{ css_class }}" style="max-width: 18rem;">
    <div class="card-header">Step #{{ process_state.order_position }}</div>
    <div class="card-body">
      <h5 class="card-title">{{ process_state.name }}</h5>
      <p class="card-text">
        {% if current_state %}
          <a href="{% url 'tasks:get_state_details' task_id  current_state.id%}">
            {{ process_state.notes }}
          </a>
        {% elif not task_states %}
          {{ process_state.notes }}
        {% endif %}
      </p>
      <p class="card-text">
      {% for task_state in task_states %}
         {% include 'partials/task_step_state.html' %}
      {% endfor %}
      </p>
      <a href="{% url 'tasks:move_to_next_state' task_id %}?process_state_id={{process_state.id}}" class="{{btn_class}}">Start</a>
    </div>
  </div>
</div>
