<div class="col">
  <div class="{{ css_class }}" style="max-width: 18rem;">
    <div class="card-header">
      <div class="row">
        <div class="col">
          Step #{{ process_state.order_position }}
        </div>
        <div class="col d-flex justify-content-end">
          <div>0 <i class="fa-regular fa-message"></i></div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ process_state.name }}</h5>
      <p class="card-text">
        {% if current_state %}
          <a href="{% url 'tasks:get_state_details' task.id  current_state.id%}">
            {{ process_state.notes }}
          </a>
        {% elif not task_states %}
          {{ process_state.notes }}
        {% endif %}
      </p>
      <p class="card-text">
      {% for task_state in task_states %}
         {% include 'partials/task_step_state.html' %}
      {% endfor %}
      </p>
      <a href="{% url 'tasks:move_to_next_state' task.id %}?process_state_id={{process_state.id}}" class="{{btn_class}}">Start</a>
    </div>
  </div>
</div>
