<script>
    var csrf_token = '{% csrf_token %}'
    var links = document.querySelectorAll('.post-request');
 
for(var l = 0; l < links.length; l++) {
  links[l].addEventListener('click', function(e) {
    e.preventDefault();
    var valueAttr = this.getAttribute('data-input-value');
    var url = ''
    var form = document.createElement('form');
    form.innerHTML = csrf_token;
    
    if(valueAttr != null) {
      var nameAttr = this.getAttribute('data-input-name');
      var input = document.createElement('input');
      input.type = "text"
      input.name = nameAttr
      input.value = valueAttr
      form.appendChild(input)
    } else {
      url = this.href.split('?')[0];
    }
    form.setAttribute('method','post');
    form.setAttribute('action', url);
    document.getElementsByTagName('body')[0].appendChild(form);
    form.submit();
  });
}
</script>