  <div>
    <a href="{% url 'tasks:create'%}?project_id={{ project.id }}" class="btn btn-link" >Add task</a>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <i class="fa-solid fa-list-check"></i>
      Tasks
    </div>
    <div class="card-body">
      <div class="col-12 col-md-3 col-xl-3">
        <form class="bd-search d-flex align-items-center">
          <input type="search" class="form-control" id="search-input" placeholder="Search..." aria-label="Search for..." autocomplete="off" />
        </form>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Task name</th>
            <th>Period</th>
            <th>State</th>
            <th>Reviewer</th>
            <th>Estimated expenses</th>
            <th>Status</th>
            <th>Assignee</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for task in page %}
            <tr>
              <td>
                <a href="{% url 'tasks:get_details' task.id%}">{{ task.name }}</a>
              </td>
              <td>{{ task.start_date }}-{{ task.end_date }}</td>
              <td> 
                {% if task.is_started %}
                  <span class="badge bg-success">started</span> 
                {% else %}
                  <span class="badge bg-secondary">not started</span> 
                {% endif %}
                {% if task.is_high_priority %}
                  <span class="badge bg-warning text-dark">high priority</span>
                {% endif %}
                {% if task.is_expired %}
                  <span class="badge bg-danger">expired</span>
                {% endif %}
              </td>
              <td><a href="{% url 'funds:get_volunteer_details' task.reviewer.volunteer_profile.id %}">{{ task.reviewer.username }}</a>
              <td>{{ task.estimated_expense_amount|floatformat:'2g' }}</td>
              <td>
                {% include 'partials/td_approvement_part.html' with approvement=task.expense.approvement %}
              </td>
              <td>
                {% include 'partials/user_image_part.html' with user=task.assignee %}
              </td>
              <td>
                <a href="{% url 'projects:remove_project_task' project.id task.id %}">Remove</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include 'paginator.html' with obj_page=tasks_page %}
    </div>
  </div>