  <div>
    <a href="{% url 'tasks:create'%}?project_id={{ project.id }}" class="btn btn-link" >Add task</a>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Tasks
    </div>
    <div class="card-body">
      <div class="col-12 col-md-3 col-xl-3">
        <form class="bd-search d-flex align-items-center">
          <input type="search" class="form-control" id="search-input" placeholder="Search..." aria-label="Search for..." autocomplete="off" />
        </form>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Task name</th>
            <th>Period</th>
            <th>Assignee</th>
            <th>Is high priority</th>
            <th>Is started</th>
            <th>Is expired</th>
            <th>Estimated expenses</th>
            <th>Approved</th>
          </tr>
        </thead>
        <tbody>
          {% for task in tasks_page %}
            <tr>
              <td>
                <a href="{% url 'tasks:get_details' task.id%}">{{ task.name }}</a>
              </td>
              <td>{{ task.start_date }}-{{ task.end_date }}</td>
              <td>{{ task.assignee.username }}</td>
              <td>{{ task.is_high_priority }}</td>
              <td>{{ task.is_started }}</td>
              <td>{{ task.is_expired }}</td>
              <td>{{ task.estimated_expense_amount }}</td>
              <td>
                {% include 'partials/td_approvement_part.html' with approvement=task.expense.approvement %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include 'paginator.html' with obj_page=tasks_page %}
    </div>
  </div>