{% extends 'base.html' %}
{% block content %}
  <h2 class="mt-4">{{ project.name }}</h2>

  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">
      <a href="{% url 'funds:get_details' project.fund_id %}?tab=projects">{{ project.fund.name }}</a>
    </li>
    <li class="breadcrumb-item active">Project Details</li>
  </ol>
  <div class="card mb-4">
    <div class="card-body">
      <div>
        <i class="far fa-calendar-alt"></i>
        Created: {{ project.date_created }}
      </div>
      <div>
        <i class="fas fa-user"></i>
        Leader: <a href="{% url 'funds:get_volunteer_details' project.leader.volunteer_profile.id %}">{{ project.leader.username }}</a>
      </div>
      <div>
        <i class="fas fa-sack-dollar"></i>
        Budget: {{ project.approved_budget|floatformat:'2g' }}
      </div>
      <div>
        <i class="fa-regular fa-clipboard"></i>
        Notes: {{ project.notes }}
      </div>
      <div>
          <i class="fa-solid fa-pen-to-square"></i>
          <a href="{% url 'projects:update' project.id %}">Edit</a>
          &nbsp;
          <i class="fa-solid fa-lock"></i>
          <a href="{% url 'projects:close' project.id %}">Close</a>
       </div>
     </div>
  </div>
  <ul class="nav nav-pills mb-3">
    {% for tab in tabs %}
    <li class="nav-item" role="presentation">
      {% if selected_tab == tab %}
        <a href="?tab={{ tab }}" class="nav-link active">{{ tab|capfirst }}
          <span class="badge bg-danger rounded-circle">{{ items_count }}</span>
        </a>
      {% else %}
        <a href="?tab={{ tab }}" class="nav-link">{{ tab|capfirst }}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  <div>
    {% for tab in tabs %}
    {% if selected_tab == tab %}
      {% include 'project_'|add:tab|add:'_list.html' %}
    {% endif %}
    {% endfor %}
  </div>
{% endblock %}
