{% extends 'base.html' %}

{% block content %}
  <h1 class="mt-4">Tables</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">
      <a href="index.html">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Tables</li>
  </ol>
  <div class="card mb-4">
    <div class="card-body">
      DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
      <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
      .
    </div>
  </div>
  <div>
    <a href="{% url 'projects:create' %}" class="btn btn-link" >Add project</a>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Projects
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Project name</th>
            <th>Created</th>
          </tr>
        </thead>
        <tbody>
          {% for project in projects %}
            <tr>
              <td>
                <a href="#">{{ project.name }}</a>
              </td>
              <td>{{ project.date_created }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
