<div>
    <a href="{% url 'projects:add_project_reviewer' project.id %}" class="btn btn-link" >Add reviewer</a>
</div>
{% load customtags %}
<div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Reviewers
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Reviewer</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for reviewer in page %}
            <tr>
              <td>
                {{ reviewer.volunteer_profile|cover }}
                <a href="{% url 'projects:get_reviewer_details' project.id reviewer.id %}">{{ reviewer.username }}</a>
              </td>
                <td>
                  <a href="{% url 'projects:remove_project_reviewer' project.id reviewer.id%}">Remove</a>
               </td>
             </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include 'paginator.html' with obj_page=page %}
    </div>
  </div>