{% extends 'base.html' %}
{% block content %}
{% load customtags %}
{% render_partial 'funds.views.get_get_current_details_partial' title='Mailing templates' %}
<div>
  <a href="{% url 'mailings:add_template'%}" class="btn btn-link">Add template</a>
</div>
<div class="card mb-4">
  <div class="card-header">
    {{items_count}} <i class="fa-solid fa-envelope"></i>
    Mailing templates
  </div>
  <div class="card-body">
    <table class="table table-striped">
    <tbody>
    {% for template in page %}
      <tr>
        <td class="col-3">
          <h6>
            <a href="{% url 'mailings:edit_template' template.id %}">{{ template.name }}</a>
          </h6>
          {{ template.date_created }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
    {% include 'paginator.html' with obj_page=page %}
  </div>
</div>
{% endblock %}