{% extends 'base.html' %}
{% block content %}
  <h2 class="mt-4">{{ task.name }}</h2>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">
      <a href="{% url 'funds:get_current_details' %}">{{ task.project.fund.name }}</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'projects:get_details' task.project.id %}">{{ task.project.name }}</a>
    </li>
    <li class="breadcrumb-item active">Details</li>
  </ol>
  <div class="card mb-4">
    <div class="card-body">
      <div>
        <i class="far fa-calendar-alt"></i>
        Period: {{ task.start_date }} - {{ task.end_date }}
      </div>
      <div>
        <i class="fas fa-user"></i>
        Assignee: <a href="{% url 'funds:get_volunteer_details' task.assignee.volunteer_profile.id %}">{{ task.assignee.username }}</a>
      </div>
      <div>
        <i class="fas fa-sack-dollar"></i>
        Expenses: <a href="{% url 'budgets:get_expense_details' task.expense.id %}">{{ task.estimated_expense_amount|floatformat:'2g' }}</a>
      </div>
      <div>
        {% include 'partials/li_approvement_part.html' with approvement=task.expense.approvement %}
      </div>
      <div>
        <i class="fa-regular fa-folder"></i>
        Ward: <a  href="{% url 'wards:get_details' task.ward_id %}"> {{ task.ward.name }} </a>
      </div>
      <div>
        <i class="fa-solid fa-gear"></i>
        Process: <a href="{% url 'processes:get_details' task.process_id%}">{{ task.process.name }}</a>
      </div>
      <div>
        {% if not task.state %}
        Current state: Not started
        {% else %}
        <i class="fa-solid fa-gears"></i>
        Current state: <a href="{% url 'tasks:get_state_details' task.id task.state.id %}">{{ task.state.state.name }}</a>
        {% endif %}
      </div>
      <div>
        <i class="fa-regular fa-clipboard"></i>
        Notes: {{ task.notes }}
      </div>
      <div>
        <i class="fa-solid fa-pen-to-square"></i>
        <a href="{% url 'tasks:update' task.id %}">Edit</a>
      </div>
    </div>
  </div>
  <ul class="nav nav-pills mb-3">
    {% for tab in tabs %}
    <li class="nav-item" role="presentation">
      {% if selected_tab == tab %}
        <a href="?tab={{ tab }}" class="nav-link active">{{ tab|capfirst }}
          <span class="badge bg-danger rounded-circle">{{ items_count }}</span>
        </a>
      {% else %}
        <a href="?tab={{ tab }}" class="nav-link">{{ tab|capfirst }}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  <div>
    {% for tab in tabs %}
    {% if selected_tab == tab %}
      {% include 'task_'|add:tab|add:'_list.html' %}
    {% endif %}
    {% endfor %}
  </div>
{% endblock %}
