{% extends 'base.html' %}
{% block content %}
{% load customtags %}
{% load taskfilters %}
<h2 class="mt-4">{{ state.state.name }}</h2>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">
      <a href="{% url 'funds:get_current_details' %}">{{ task.project.fund.name }}</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'projects:get_list' %}">Projects</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'projects:get_details' task.project.id %}">{{ task.project.name }}</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'tasks:get_details' task.id %}">{{ task.name }}</a>
    </li>
    <li class="breadcrumb-item active">Process state Details</li>
  </ol>
  <div class="card mb-4">
    <div class="card-body">
      <div>
          <div class="row">
            <div class="col">
              <div class="bg-light text-dark">
                <i class="fa-regular fa-clipboard"></i>
                <strong>Description</strong>: {{ state.state.notes }}
              </div>
              <p></p>
              <div class="bg-light text-dark">
                <i class="fa-regular fa-clipboard"></i>
                <strong>Notes</strong>: {{ state.notes }}
              </div>
            </div>
            <div class="col">
              <div class="bg-light text-dark">
                  <div>
                    <strong>Author</strong>: 
                    <a href="{% url 'funds:get_volunteer_details' state.author.volunteer_profile.id %}">{{ state.author.username }}</a>
                  </div>
                  <div>
                    <strong>Created</strong>: {{ state.date_created }}
                  </div>
                  <div>
                    <strong>Reviewer</strong>:
                    {% if state.reviewer %}
                    <a href="{% url 'funds:get_volunteer_details' state.reviewer.volunteer_profile.id %}">{{ state.reviewer.username }} </a>
                    {% else %}
                    <a href="{% url 'funds:get_volunteer_details' task.reviewer.volunteer_profile.id %}">{{ task.reviewer.username }} </a>
                    {% endif %}
                  </div>
                  <strong>Approvement requirement</strong>: <span class="badge bg-primary">
                    {% if state.state.is_approvement_required %} yes {% else %} no {% endif %}</span>
                 </div>
                 <div>
                  <strong>Status</strong>:
                  {% if not state.approvement and not state.is_approvement_required %}
                  <span class="badge bg-primary">in progress</span>
                  {% endif %}
                  {% if state.is_review_requested %}
                  <span class="badge bg-info text-dark">on review</span>
                  {% endif %}
                  {% if state.approvement.is_rejected %}
                  <span class="badge bg-danger">rejected</span>
                  {% endif %}
                  {% if state.approvement.is_rejected == False %}
                  <span class="badge bg-success">approved</span>
                  {% endif %}
                  {% if state.is_done %}
                  <span class="badge bg-success">done</span>
                  {% endif %}
                 </div>
                 <div>
                    <strong>Completion date</strong>: {{ state.completion_date}}
                 </div>
                 <div>
                  <strong>Process</strong>: <a href="{% url 'processes:get_details' task.process_id%}">{{ task.process.name }}</a>
                </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div>
          {% get_context_values 'user' 'task' as context %}
          <a  {% if state|task_state_is_ready_for_review_request:context %}
                href="{% url 'tasks:request_task_state_review' task.id state.id %}"
                class="btn btn-link"
              {% else %}
                href=""
                class="btn btn-link disabled"
              {% endif %}>Request review</a>
        </div>
      </div>
    </div>
  </div>
  <div>
    <a {% if state|task_state_is_ready_for_review:context %}
        href="{% url 'tasks:approve_task_state' task.id state.id %}" 
        class="btn btn-link"
      {% else %}
        class="btn btn-link disabled"
        href=""
      {% endif %}>Add review </a>
  </div>
  {% include 'approvements_list.html' %}
{% endblock %}
