{% extends 'base.html' %}
{% block content %}
<h2 class="mt-4">Comment of {{ task.name }} at {{ comment.date_created }}</h2>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">
      <a href="{% url 'tasks:get_details' task.id %}?tab=comments">{{ task.name }}</a>
    </li>
    <li class="breadcrumb-item active">Comments Details</li>
  </ol>
  <div class="card mb-4">
    <div class="card-body">
        <div class="row">
        <div class="col-2">
            <div>
                {% include 'partials/user_image_part.html' with user=comment.author %}
            </div>
            {{ comment.date_created }}
        </div>
        <div class="col-10">
            {{ comment.notes }}
         </div>
        </div>
    </div>
  </div>
 {% for reply in page %}
  <div class="card mb-4">
    <div class="card-body">
        <div class="row">
        <div class="col-2">
            <div>
                {% include 'partials/user_image_part.html' with user=reply.author %}
            </div>
            {{ reply.date_created }}
        </div>
        <div class="col-10">
            {{ reply.notes }}
        </div>
        </div>
    </div>
  </div>
 {% endfor %}
 <div>
  <a href="{% url 'tasks:reply_to_comment' task.id  comment.id %}" class="btn btn-link">Reply</a>
</div>
{% endblock %}