{% extends 'base.html' %}
{% block content %}
{% load customtags %}
{% render_partial 'funds.views.get_get_current_details_partial' title='Adoptees' %}
<div>
  <a href="{% url 'wards:create' %}" class="btn btn-link">Add ward</a>
</div>
<div class="card mb-4">
  <div class="card-header">
    <i class="fa-solid fa-leaf"></i>
    Adoptees
  </div>
  <div class="card-body">
    {% render_partial 'filters.views.get_select_filters' model_name='ward' %}
    <table class="table table-striped">
      <tbody>
        {% for ward in page %}
          <tr>
            <td>
              <div>
                <h6>
                  {{ ward|thumbnail:50 }}
                  <a href="{% url 'wards:get_details' ward.id %}">{{ ward.name }}</a>
                </h6>
              {{ ward.date_created }}
              {% if ward.is_inactive %}
                <span class="badge bg-secondary">inactive</span>
              {% else %}
                <span class="badge bg-primary">active</span>
              {% endif %}
              </div>
              {% with ward.projects.all|first as project %}
                {% if project %}
                  <a href="{% url 'projects:get_details' project.id %}">{{project.name}}</a>
                {% endif %}
              {% endwith %}
            </td>           
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include 'paginator.html' with obj_page=page %}
  </div>
</div>
{% endblock %}