{% load customtags %}
<div class="card mb-4">
    <div class="card-header">
      {{items_count}} <i class="fa-regular fa-message"></i>
    </div>
    <div class="card-body">
      {% for comment in page %}
      <div id="{{comment.id}}" class="row mt-2">
        <div class="col-2">
            <div>
              {% include 'partials/user_image_part.html' with user=comment.author %}
              <span class="badge bg-danger rounded">topic</span>
              <span data-bs-toggle="tooltip" data-bs-placement="top" title="Reply">
                <a href="{% url 'add_reply_to_comment' model_name target_id comment.id %}">
                    <i class="fa-solid fa-reply"></i>
                </a>
              </span>
            </div>
            {{ comment.date_created }}
        </div>
        <div class="col-10">
          {{ comment.notes }}
        </div>
      </div>
        {% if comment.replies_count > 0 %}
            <div class="container">
            {% render_partial 'commons.views.get_replies_for_comment' comment_id=comment.id %}
            </div>
        {% endif %}
      {% endfor %}
      <div class="row mt-3">
        <div>
        {% include 'paginator.html' with obj_page=page %}
        </div>
      </div>
    </div>
  </div>