<div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-sack-dollar"></i>
       Incomes
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <tbody>
          {% for income in page %}
            <tr>
              <td class="col-2 align-middle">
                <h6>
                  <i class="fa-solid fa-dollar-sign fa-sm"></i>
                  <a href="{% url 'budgets:get_income_details' income.budget_id income.id %}">{{ income.amount }}</a>
                </h6>
                {{ income.date_created }}
              </td>
               <td class="align-middle">
                    <ul>
                    {% for approvement in income.approvements.all %}
                       <li> {{ approvement.date_created }} {% include 'partials/td_approvement_part.html' %}</li>
                    {% endfor %}
                    </ul>
               </td>
             </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include 'paginator.html' with obj_page=page %}
    </div>
  </div>