<div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Reviewed expenses
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Amount</th>
            <th>Created</th>
            <th>Reviews</th>
          </tr>
        </thead>
        <tbody>
          {% for expense in page %}
            <tr>
              <td>
                <a href="{% url 'budgets:get_expense_details' expense.budget_id expense.id %}">{{ expense.amount }}</a>
              </td>
               <td>{{ expense.date_created }}</td>
               <td>
                <ul>
                    {% for approvement in income.approvements.all %}
                       <li> {{ approvement.date_created }} {% include 'partials/td_approvement_part.html' %}</li>
                    {% endfor %}
                    </ul>
               </td>
             </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include 'paginator.html' with obj_page=page %}
    </div>
  </div>