<div>
  <p class="card-text">
    Use syntax {% verbatim %}{{field}}{% endverbatim %} for insertig data into template text.
  </p>
  <div id="{{ widget.attrs.id }}">
    {% include 'partials/fields.html' %}
  </div>
  <script>
    document.getElementById('{{widget.relation_id}}').addEventListener('change', function() {  
      var controlArea = document.getElementById('{{ widget.attrs.id }}')
      var input = document.getElementById('{{widget.relation_id}}')
      var filedId = input.value
  
      if (filedId == null || filedId == '') {
          controlArea.innerHTML = ''
          return
      }
      var request = new XMLHttpRequest()
      request.onload = () => {
          if (request.readyState == 4 && request.status == 200) {
              var json = JSON.parse(request.response)
              controlArea.innerHTML = json.html
          }
      }
      var url = '{{widget.fetch_url}}'.concat('?content_type_id=', filedId)
      request.open('GET', url)
      request.send()
  })
  </script>
</div>
