{% extends 'base.html' %}
{% block content %}
<h2 class="mt-4">Configure custom fields for {{ fund.name }}</h2>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item">
    <a href="{% url 'funds:get_current_details' %}">{{ fund.name }}</a>
  </li>
  <li class="breadcrumb-item active">Configuration</li>
</ol>
<div>
  <a href="{% url 'customfields:add_custom_field' %}" class="btn btn-link">Add field</a>
</div>
<div class="card mb-4">
  <div class="card-header">
      Custom Fields
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <tbody>
        {% for field in page %}
          <tr>
            <td class="col-3 align-middle">
                <h6>
                  <a href="{% url 'customfields:edit_field_details' field.id %}">{{ field.attribute.name }}</a>
                </h6>
                  {{ field.date_created }}
                <div>
                  <span class="badge bg-primary">
                    {{ field.attribute.datatype }}
                  </span>
                </div>
            </td>
            <td class="align-middle">
              {% if field.attribute.required %}
                <span class="badge bg-danger">required</span>
              {% endif %}
              {% if field.is_public %}
                <span class="badge bg-primary">public</span>
              {% endif %}
              {% if field.is_searchable %}
                <span class="badge bg-primary">searchable</span>
              {% endif %}
            </td>
            <td class="align-middle">
              <a href="{% url 'customfields:remove_custom_field' field.id %}" class="post-request">Remove</a>
            </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include 'paginator.html' with obj_page=page %}
  </div>
</div>
{% include 'partials/js.html' %}
{% include 'generic_errormodal.html' %}
{% endblock %}
