{% load budgetfilters %}
<div>
  <a {% if budget|budget_item_can_be_added:user %}
        href="{% url 'budgets:add_income' budget.id %}" class="btn btn-link" 
     {% else %}
        class="btn btn-link disabled" href=""
     {% endif %}>Add income</a>
</div>
<div class="card mb-4">
  <div class="card-header">
    {{ items_count }} <i class="fas fa-sack-dollar"></i>
    Incomes
  </div>
  <div class="card-body">
    <div>
      <form action="" method="get">
        <input type="hidden" name="tab" value="incomes">
        <div class="row row-cols-md-4 g-4">
          {% for field in search_form %}
          <div class="col">
            {{field}}
          </div>
          {% endfor %}
        </div>
      </form>
    </div>
    <table class="table table-striped">
      <tbody>
        {% for income in page %}
          <tr>
            <td class="col-2 align-middle">
              <h6>
                <i class="fa-solid fa-dollar-sign fa-sm"></i>
                <a href="{% url 'budgets:get_income_details' budget.id income.id %}">{{ income.amount|floatformat:'2g' }}</a>
              </h6>
              {{ income.date_created }}
            </td>
            <td class="col-1 align-middle text-center"> 
              {% include 'partials/td_approvement_part.html' with approvement=income.approvement %}
            </td>
            <td class="align-middle">
              <span data-bs-toggle="tooltip" data-bs-placement="top" title="Reviewer">
                {% include 'partials/user_image_part.html' with user=income.reviewer %}
              </span>
            </td>
            <td class="align-middle"> 
              {{ income.notes }}
            </td>
            <td class="align-middle">
              <a {% if income|budget_item_is_ready_to_be_removed:user %}
                    href="{% url 'budgets:remove_budget_income' budget.id income.id %}" 
                    class="post-request"
                  {% else %}
                    href="#" class="link-disabled"
                  {% endif %}>Remove</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include 'paginator.html' with obj_page=page %}
  </div>
</div>
{% include 'generic_errormodal.html' %}
{% include 'partials/js.html' %}