<div class="row mt-2">
  <div>
    <div class="card" style="max-width: 18rem;">
      <div class="card-header">
        <div class="row">
          <div class="col">
          </div>
          <div class="col d-flex justify-content-end">
            <div>
              {{comments_count}} <i class="fa-regular fa-message"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'tasks:get_details' task.id %}">{{ task.name }}</a></h5>
        {% include 'partials/user_image_part.html' with user=task.assignee %}
        <p class="card-text">
          {% if  task.expense %}
            <i class="fa-solid fa-dollar-sign fa-sm"></i>
            <a href="{% url 'budgets:get_expense_details' task.expense.budget_id task.expense.id %}">{{ task.estimated_expense_amount|floatformat:'2g' }}</a>
          {% else %}
            <i class="fa-solid fa-dollar-sign fa-sm"></i>
            {{ task.estimated_expense_amount|floatformat:'2g' }}
          {% endif %}
          {% include 'partials/td_approvement_part.html' with approvement=task.expense.approvement %}
        </p>
        <p class="card-text">
          <i class="fa-regular fa-circle-check"></i>
          {{ progress.task_states_count }}/{{ progress.task_process_states_count }}
          {% include 'partials/task_status.html' %}
        </p>
        {{task.date_created}}
        <p class="card-text"></p>
      </div>
    </div>
  </div>
</div>
