{% load customtags %}
{% load projectfilters %}
<div>
  <a  {% if project|validate_pre_requirements:user %}
        href="{% url 'projects:add_ward_to_project' project.id %}" 
        class="btn btn-link"
      {% else %}
        href=""  class="btn btn-link disabled"
      {% endif %}>Add ward</a>
</div>
<div class="card mb-4">
  <div class="card-header">
    {{items_count}} <i class="fa-solid fa-leaf"></i>
    Wards
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <tbody>
        {% for ward in page %}
          <tr>
            <td>
              <div>
                <h6>
                  {{ ward|thumbnail:50 }}
                  <a href="{% url 'wards:get_details' ward.id %}">{{ ward.name }}</a>
                </h6>
                {{ ward.date_created }}
              {% if ward.is_inactive %}
                <span class="badge bg-secondary">inactive</span>
              {% elif ward.project_tasks_exists %}
                <span class="badge bg-primary">in work</span>
              {% else %}
                <span class="badge bg-primary">active</span>
              {% endif %}
              </div>
                {% if ward.task.id %}
                  <a href="{% url 'tasks:get_details' ward.task.id %}">{{ ward.task.name }}</a>
                {% endif %}
            </td>
            <td class="align-middle">
              <a {% if project|validate_pre_requirements:user and ward|ward_should_not_be_used_by_any_tasks:project %}
                   href="{% url 'projects:remove_project_ward' project.id ward.id%}"
                   class="post-request"
                 {% else %}
                   href="" class="link-disabled"
                 {% endif %}>Remove</a>
           </td>           
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include 'paginator.html' with obj_page=page %}
  </div>
  {% include 'generic_errormodal.html' %}
  {% include 'partials/js.html' %}