{% extends 'base.html' %}
{% block content %}
{% load customtags %}
{% render_partial 'funds.views.get_get_current_details_partial' title='Processes' %}
  <div>
    <a href="{% url 'processes:create' %}" class="btn btn-link" >Add process</a>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <i class="fa-solid fa-gears"></i>
      Processes
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <tbody>
          {% for process in page %}
            <tr>
              <td class="col-3">
                <h6>
                  <a href="{% url 'processes:get_details' process.id %}">{{ process.name }}</a>
                </h6>
                {{ process.date_created }}
              </td>
              <td class="col-2 align-middle">
                {% if not process.is_inactive %}
                  <span class="badge bg-primary">active</span>
                {% else %}
                  <span class="badge bg-secondary">inactive</span>
                {% endif %}
              </td>
              <td class="align-middle">{{ process.states_count }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include 'paginator.html' with obj_page=page %}
    </div>
  </div>
{% endblock %}