{% extends 'base.html' %}
{% block content %}
<h2 class="mt-4">{{ state.name }}</h2>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">
    <a href="{% url 'processes:get_details' process.id%}"> {{ process.name }} </a>
  </li>
  <li class="breadcrumb-item active">Process state Details</li>
</ol>
<div class="card mb-4">
    <div class="card-body">
      <div>
        <i class="far fa-calendar-alt"></i>
        Created: {{ state.date_created }}
      </div>
      {% if  state.is_approvement_required %}
      <div>
        <i class="fa-solid fa-circle-info"></i>
        Requirement: <span class="badge bg-primary">approvement</span>
      </div>
      {% endif %}
      <div>
        <i class="fa-solid fa-circle-question"></i>
        {% if not state.is_inactive %}
         Status: <span class="badge bg-primary">active</span>
        {% else %}
         Status: <span class="badge bg-secondary">inactive</span>
        {% endif %}
      </div>
      <div>
        <i class="fa-regular fa-clipboard"></i>
        Notes: {{ state.notes }}
      </div>
      <div>
        <i class="fa-solid fa-pen-to-square"></i>
        <a href="#">Edit</a>
      </div>
    </div>
  </div>
{% endblock %}