{% extends 'base.html' %}
{% block content %}
{% load customtags %}
{% render_partial 'funds.views.get_get_current_details_partial' title='Processes' %}
  <div>
    <a href="{% url 'processes:create' %}" class="btn btn-link" >Add process</a>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Processes
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Process name</th>
            <th>Created</th>
            <th>Status</th>
            <th>States</th>
            <th>Projects usage</th>
          </tr>
        </thead>
        <tbody>
          {% for process in page %}
            <tr>
              <td>
                <h6>
                  <a href="{% url 'processes:get_details' process.id %}">{{ process.name }}</a>
                </h6>
              </td>
              <td>{{ process.date_created }}</td>
              <td>
                {% if not process.is_inactive %}
                  <span class="badge bg-primary">active</span>
                {% else %}
                  <span class="badge bg-secondary">inactive</span>
                {% endif %}
              </td>
              <td>{{ process.states_count }}</td>
              <td>{{ process.active_project_count }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include 'paginator.html' with obj_page=page %}
    </div>
  </div>
{% endblock %}